html
  font-size: 62.5%

body
  font-size: $base-font-size
  overflow-x: hidden
  width: 100vw
  margin: 0
  font-family: $default-sans
  line-height: $doc-line-height
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  *
    box-sizing: border-box
    outline: 0

main
  +flex-column
  width: 100%
  position: relative
  z-index: 10

// Defaults
ul
  list-style: none

// CLEAR DEFAULT MARGINS & PADS
ul,h1,h2,h3,h4,h5,p,li
  margin: 0
  padding: 0

img
  width: 100%
  height: auto
