extends structure/_layout.pug

block vars
  - pageKey = zoing
  - bodyClass = pageKey.body_class
  - siteTitle = pageKey.title
  - siteDescription = pageKey.description
  - siteKeywords = pageKey.keywords

block content
  #wrapper
    #ball
