head
  meta(charset="utf-8")
  title #{global.site_title} | #{siteTitle}
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  meta(name="description" content= siteDescription)
  meta(name="keywords" content= siteKeywords)
  include _head-css.pug
  link(rel="stylesheet" href="css/style.css")
