block vars

doctype html
html(lang= global.language class= global.language)
  include _head.pug
  body(class= bodyClass)
    include _header.pug
    main(role="main")
      block content
    script(src="js/bundle.js")
